<a href="https://colab.research.google.com/github/StreetBta/DS_Fabian/blob/main/Clase4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np                         # Importo las librerias
import pandas as pd

In [74]:
print('** Versiones Actuales | Requeridas **')
print('NumPy: Version Actual:', np.__version__)
print('Pandas: Version Actual:', pd.__version__)      # Acá puedo validar la versión que tengo, por si no funciona al ejecutar.

** Versiones Actuales | Requeridas **
NumPy: Version Actual: 1.21.6
Pandas: Version Actual: 1.3.5

In [3]:
#index, a veces son numericos, se parece a numpy pero más ordenado.

items = pd.Series(data = np.array([2, 3, 8, 6, 7]), name = 'precios', index = ['veg1','cer1','frut1','frut2','frut3'])
print(items)

veg1     2
cer1     3
frut1    8
frut2    6
frut3    7
Name: precios, dtype: int64

In [4]:
print('obtener los indices',items.index)
print('obtener los valores',items.values)
print('obtener tipo de dato',items.dtypes)

obtener los indices Index(['veg1', 'cer1', 'frut1', 'frut2', 'frut3'], dtype='object')
obtener los valores [2 3 8 6 7]
obtener tipo de dato int64

In [13]:
df = pd.read_csv(filepath_or_buffer='https://storage.googleapis.com/datasets-academy/Track%20Data%20Science/01_Intro_Python/PWT91.csv'
                 ,sep = ',',      #sep=separador, en este caso lo asigno al ','
                 decimal = '.')   #Decimal lo asignamos como punto puede ser hasta 
                                  # Para organizar la base



df.head(100)                        #Traigame los primeros cien

   countrycode country  year        rgdpo       pop       emp  avh        hc
0          ABW   Aruba  1950          NaN       NaN       NaN  NaN       NaN
1          ABW   Aruba  1951          NaN       NaN       NaN  NaN       NaN
2          ABW   Aruba  1952          NaN       NaN       NaN  NaN       NaN
3          ABW   Aruba  1953          NaN       NaN       NaN  NaN       NaN
4          ABW   Aruba  1954          NaN       NaN       NaN  NaN       NaN
..         ...     ...   ...          ...       ...       ...  ...       ...
95         AGO  Angola  1977  27101.01953  8.130988  4.111429  NaN  1.033385
96         AGO  Angola  1978  24654.34766  8.376147  4.209530  NaN  1.035939
97         AGO  Angola  1979  24989.89453  8.641521  4.290003  NaN  1.038498
98         AGO  Angola  1980  25335.56836  8.929900  4.300710  NaN  1.041064
99         AGO  Angola  1981  25177.26172  9.244507  4.429433  NaN  1.050381

[100 rows x 8 columns]

In [14]:
df.shape      # Para saber el tamaño del archivo

(12376, 8)

In [15]:
print(type(df))   #DataFrama de Pandas
df.dtypes         # Para colocar el dato como objeto

<class 'pandas.core.frame.DataFrame'>

countrycode     object
country         object
year             int64
rgdpo          float64
pop            float64
emp            float64
avh            float64
hc             float64
dtype: object

In [16]:
df['pop']    # Buscamos dentro de la base la información de la fila POP

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
           ...
12371    15.054506
12372    15.411675
12373    15.777451
12374    16.150362
12375    16.529903
Name: pop, Length: 12376, dtype: float64

In [19]:
df['pop'] = df['pop'].fillna(0)        # Para convertir los NaN a lo que yo quiera
                                       #En este caso los reemplazamos por un 0
                                       #df['pop'] = lo agrego cuando ya he validado que realmente el Nan cambio a 0

In [10]:
df['pop'] = df['pop'].astype(int)

In [11]:
df

      countrycode   country  year        rgdpo  pop       emp  avh        hc
0             ABW     Aruba  1950          NaN    0       NaN  NaN       NaN
1             ABW     Aruba  1951          NaN    0       NaN  NaN       NaN
2             ABW     Aruba  1952          NaN    0       NaN  NaN       NaN
3             ABW     Aruba  1953          NaN    0       NaN  NaN       NaN
4             ABW     Aruba  1954          NaN    0       NaN  NaN       NaN
...           ...       ...   ...          ...  ...       ...  ...       ...
12371         ZWE  Zimbabwe  2013  28329.81055   15  7.914061  NaN  2.504635
12372         ZWE  Zimbabwe  2014  29355.75977   15  8.222112  NaN  2.550258
12373         ZWE  Zimbabwe  2015  29150.75000   15  8.530669  NaN  2.584653
12374         ZWE  Zimbabwe  2016  29420.44922   16  8.839398  NaN  2.616257
12375         ZWE  Zimbabwe  2017  30940.81641   16  9.181251  NaN  2.648248

[12376 rows x 8 columns]

In [12]:
# Inicio de ejercios

df['rgdpo']

0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
            ...
12371    28329.81055
12372    29355.75977
12373    29150.75000
12374    29420.44922
12375    30940.81641
Name: rgdpo, Length: 12376, dtype: float64

In [23]:
df['rgdpo'] = df['rgdpo'].fillna(1)

In [24]:
df['rgdpo'] = df['rgdpo'].astype(int)

In [25]:
df

      countrycode   country  year  rgdpo          pop       emp  avh        hc
0             ABW     Aruba  1950      1      1.00000       NaN  NaN       NaN
1             ABW     Aruba  1951      1      1.00000       NaN  NaN       NaN
2             ABW     Aruba  1952      1      1.00000       NaN  NaN       NaN
3             ABW     Aruba  1953      1      1.00000       NaN  NaN       NaN
4             ABW     Aruba  1954      1      1.00000       NaN  NaN       NaN
...           ...       ...   ...    ...          ...       ...  ...       ...
12371         ZWE  Zimbabwe  2013  28329  28329.81055  7.914061  NaN  2.504635
12372         ZWE  Zimbabwe  2014  29355  29355.75977  8.222112  NaN  2.550258
12373         ZWE  Zimbabwe  2015  29150  29150.75000  8.530669  NaN  2.584653
12374         ZWE  Zimbabwe  2016  29420  29420.44922  8.839398  NaN  2.616257
12375         ZWE  Zimbabwe  2017  30940  30940.81641  9.181251  NaN  2.648248

[12376 rows x 8 columns]

In [42]:
#Ejercicio dos

In [53]:
df['avh']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
12371   NaN
12372   NaN
12373   NaN
12374   NaN
12375   NaN
Name: avh, Length: 12376, dtype: float64

In [54]:
df['avh'] = df['avh'].fillna(2)

In [57]:
df['avh'] = df['avh'].astype(float)

In [58]:
df

      countrycode   country  year  rgdpo          pop  emp  avh        hc
0             ABW     Aruba  1950      1      1.00000    1  2.0       NaN
1             ABW     Aruba  1951      1      1.00000    1  2.0       NaN
2             ABW     Aruba  1952      1      1.00000    1  2.0       NaN
3             ABW     Aruba  1953      1      1.00000    1  2.0       NaN
4             ABW     Aruba  1954      1      1.00000    1  2.0       NaN
...           ...       ...   ...    ...          ...  ...  ...       ...
12371         ZWE  Zimbabwe  2013  28329  28329.81055    7  2.0  2.504635
12372         ZWE  Zimbabwe  2014  29355  29355.75977    8  2.0  2.550258
12373         ZWE  Zimbabwe  2015  29150  29150.75000    8  2.0  2.584653
12374         ZWE  Zimbabwe  2016  29420  29420.44922    8  2.0  2.616257
12375         ZWE  Zimbabwe  2017  30940  30940.81641    9  2.0  2.648248

[12376 rows x 8 columns]

In [59]:
# Ejercicio 3

In [61]:
df['emp']

0        1
1        1
2        1
3        1
4        1
        ..
12371    7
12372    8
12373    8
12374    8
12375    9
Name: emp, Length: 12376, dtype: int64

In [62]:
df['emp'] = df['emp'].fillna(3)

In [64]:
df['emp'] = df['emp'].astype(int)

In [65]:
df

      countrycode   country  year  rgdpo          pop  emp  avh        hc
0             ABW     Aruba  1950      1      1.00000    1  2.0       NaN
1             ABW     Aruba  1951      1      1.00000    1  2.0       NaN
2             ABW     Aruba  1952      1      1.00000    1  2.0       NaN
3             ABW     Aruba  1953      1      1.00000    1  2.0       NaN
4             ABW     Aruba  1954      1      1.00000    1  2.0       NaN
...           ...       ...   ...    ...          ...  ...  ...       ...
12371         ZWE  Zimbabwe  2013  28329  28329.81055    7  2.0  2.504635
12372         ZWE  Zimbabwe  2014  29355  29355.75977    8  2.0  2.550258
12373         ZWE  Zimbabwe  2015  29150  29150.75000    8  2.0  2.584653
12374         ZWE  Zimbabwe  2016  29420  29420.44922    8  2.0  2.616257
12375         ZWE  Zimbabwe  2017  30940  30940.81641    9  2.0  2.648248

[12376 rows x 8 columns]

In [66]:
#Ejercico 4

In [67]:
df['hc']

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
           ...
12371    2.504635
12372    2.550258
12373    2.584653
12374    2.616257
12375    2.648248
Name: hc, Length: 12376, dtype: float64

In [71]:
df['hc'] = df['hc'].fillna(4)        #preguntar porque no cambio el cuatro al ejecutar la operación

In [72]:
df['hc'] = df['hc'].astype(int)

In [73]:
df

      countrycode   country  year  rgdpo          pop  emp  avh  hc
0             ABW     Aruba  1950      1      1.00000    1  2.0   3
1             ABW     Aruba  1951      1      1.00000    1  2.0   3
2             ABW     Aruba  1952      1      1.00000    1  2.0   3
3             ABW     Aruba  1953      1      1.00000    1  2.0   3
4             ABW     Aruba  1954      1      1.00000    1  2.0   3
...           ...       ...   ...    ...          ...  ...  ...  ..
12371         ZWE  Zimbabwe  2013  28329  28329.81055    7  2.0   2
12372         ZWE  Zimbabwe  2014  29355  29355.75977    8  2.0   2
12373         ZWE  Zimbabwe  2015  29150  29150.75000    8  2.0   2
12374         ZWE  Zimbabwe  2016  29420  29420.44922    8  2.0   2
12375         ZWE  Zimbabwe  2017  30940  30940.81641    9  2.0   2

[12376 rows x 8 columns]